.pages1,.pages2{
    position: absolute;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin: 15px;
    width: 420px;
}
ul{
    list-style: none;
    list-style:upper-latin;
}
ul li{
    margin-top: 0px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    width: 90%;
}
ul li:hover{
    background-color:#EBB65C;
}
.bueno{
    background-color: green;
    color: #FFF;
}
.regular{
    background-color: orangered;
    color: #FFF;
}
.mal{
    background-color: red;
    color: #FFF;
}
.bueno:hover{
    background-color: green;
}
.regular:hover{
    background-color: orangered;
}
.mal:hover{
    background-color: red;
}